<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article List</title>
</head>
<body>
    <h1>List of articles</h1>
    {% for article in articles %}
    	<h2><a href="{% url 'article_detail' article.id %}">{{ article }}</a></h2>
        <strong>{{ article.author.first_name }} {{ article.author.last_name }}</strong>
        <i>{{ article.created_at }}</i>
        <p>{{ article.content }}</p>
    {% endfor %}
    
</body>
</html>